DISCORD_TOKEN=
EXCHANGE_API=
DISCORD_ID=
DISCORD_RATE_CHANNEL_ID=
DISCORD_SETTING_CHANNEL_ID=
DISCORD_MVRV_CHANNEL_ID=
DISCORD_LOGS_CHANNEL_ID=
DISCORD_REVOLUT_CHANNEL_ID=
DISCORD_DEV_RATE_CHANNEL_ID=
DISCORD_DEV_SETTING_CHANNEL_ID=
DISCORD_DEV_MVRV_CHANNEL_ID=
DISCORD_DEV_LOGS_CHANNEL_ID=
DISCORD_DEV_REVOLUT_CHANNEL_ID=
FIREBASE_SERVICE_ACCOUNT=
REVOLUT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"
REVOLUT_API_KEY=